$blue: #00aeef;
$linkColor: #0093ca;
$orange: #f60;
$gray: #9aadb7;
$black: #000;
$mutedBlack: #333;
 


.page {
	@include transform(translate(150px, 0));
	@include transition(transform(0.28s, ease-in-out));
	padding: 0;
	background: #fff;

	.navCollapsed & {
		@include transform(translate(0px, 0));
	}
}

.topnav {
	z-index: 100;
	background: rgba(255,255,255,0.9);
	border-radius: 2px;
	overflow: hidden;
	padding: 0.3em;
	position: relative;
	margin-left: 1em;
	ul {
		float: right;
		list-style: none;
		margin: 0;
		font-weight: 400;
		li {
			margin-right: 1em;
			float: left;
			i {
				margin-right: 0;
			}
		}
		&.nav {
			font-weight: 300;
		}
	}

}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	background: #ACD2E0;
	box-shadow: 0 0 3px #222;
	overflow-x: hidden;
	overflow-y: auto;
	overflow: hidden;
	@include transition(width ease-in-out 0.28s, background linear 0.1s);
	@include transform(translate(0px, 0));
	-webkit-touch-callout: none;
	@include user-select(none);
	
	.navCollapsed & {
		width: 50px;
	}
	ul {
		list-style: none;
		margin: 0;
		width: 200px;

		li a {
			display: block;
			color: #fff;
			border-bottom: 1px solid #eee;
			padding: 1em 0;
			&:hover {
				background: $mutedBlack;
			}
			&.active {
				background: $mutedBlack;
			}
			i {
				font-size: 1.6em;
				display: block;
				width: 2em;
				float: left;
				text-align: center;
			}
		}
	}
}
.tabs dd > a {
	background: #fff;
}
.tabs dd.active a {
	background: #FFDE98 !important;
	font-weight: 400;
}
#authorTab, #personalTab {
	float: right;
}
.tabs {
	border-bottom: 1px solid #ccc;
}
.content {
}