// Subject-page related css

#subjectPage {
	
	
	.right-col {
		section {
			margin-bottom: 1em;
			border-bottom: 6px solid #61D3FF;
			@extend .clearfix; 
		}
		h3 {
			margin-top: 0;
		}
	}
	#topicsTab {
		.hex-item {
			margin-right: 1em;
			.hex {
				margin-bottom: 3em;
			}
		}
	}
	&.topic {
		
	}
	.tabs {
		margin-bottom: 1em !important;
	}
	
}

#topicPage {
	header {
		h1, a {
			color: #444;
		}
	}
	
	.button-group a {
		padding: 0.9em;
	}
	
	#filters, #searchResults {
		padding-top: 1em;
	}
	#searchResults {
		background: #eee;
	}
}