

@import 'foundation/scss/foundation';
@import 'settings';

// bower:scss
// endbower

.row {
    max-width: inherit;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#sidebar {
    padding-left: 0; 
    .side-nav {
        li {
            margin: 0;
            a {
                font-size: 1.2rem;
                border-bottom: 1px dotted #ddd;
                color: #777;
            }        
        }
        .subjects {
            ul {
                list-style: none;
                border-left: 5px solid #ddd;
                margin-left: 0;
                a {
                    padding: 0.2em 0.5em;
                }
            }
            &.science ul{
                border-color: #65B8E1;
            }
            &.language ul{
                border-color: #45BB64;
            }
            &.active ul {
                border-color: #D87B18;
            }
            &.humanist ul {
                border-color: #976D59;
            }
        }
    }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

