<div ng-controller="SubjectCtrl" id="subjectPage">
  <header class="row">
    <div class="small-1 columns back">
      <a href="#/maths"><i class="icon-arrow-left"></i></a>
    </div>
    <div class="small-8 columns">
      <div class="breadcrumb"><a href="#/subjects">Subjects</a><i class="icon-arrow-right"></i><a href="#/maths">Maths</a></div>
      <h1>Geometry</h1>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Search within Geometry..">
    </div>
  </header>
  <div class="row">
    <div class="medium-2 columns">
      Dot
    </div>
    <div class="medium-2 columns">
      Lines
    </div>
    <div class="medium-2 columns">
      Triangles
    </div>
    <div class="medium-2 columns">
      Squares
    </div>
    <div class="medium-3 columns">
      Polygons
    </div>
  </div>
  <div class="row">
    <div class="medium-8 columns">
      <div style="background: #eee; height: 30em; margin-bottom: 1em;"></div>
      <div class="row">
        <div class="medium-6 columns">
          <div style="background: #eee; height: 30em; margin-bottom: 1em;">Popular materials</div>
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="row">
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Shapes
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Trigonometry
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Scaling & Drawing
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Areas
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Angles
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Mirroring
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Symmetry
             </div>
          </div>
          <div class="medium-12 columns">
            <div style="background: #eee; height: 8em; margin-bottom: 1em">
               Random user submitted item
             </div>
          </div>


        </div>
    </div>
  </div>

</div>