<div id="itemPage">
	<div class="background">
		<header>
			<div class="small-1 columns back"><i class="icon-arrow-left"></i></div>
			<div class="small-8 columns">
				<span><a href="company">appsolute GmbH</a></span>
				<h1>Better Ears for iPhone</h1>
				<span class="specs">iPhone application</span>
			</div>
			<div class="small-3 columns">
				<div class="row">
					<span class="rating">
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star"></i>
						<i class="icon-star2"></i>
					</span>
					<p><a href="#">5 reviews</a></p>
				</div>
				<div class="row">
					<p>Price: Starting from 14,99€</p>
				</div>
				<div class="row" style="font-size: 1.2em; color: #fff;">
					<a class="button small">Try it</a>
					<a class="button small">Buy it</a>
				</div>

			</div>
		</header>
	</div>

	<tabset>
		<tab heading="Home">
			<div class="row">
				<div class="small-4 columns">
					<div class="item-picture">
						<img src="/images/apps/better_ears_1.jpg">
					</div>
					<div class="row">
						<div class="small-6 columns">
							<div class="item-picture" style="height: 150px">
								<img src="/images/apps/better_ears_1.jpg">
							</div>
							<div class="item-picture" style="height: 150px">
								<img src="/images/apps/better_ears_2.jpg">
							</div>
						</div>
						<div class="small-6 columns">
							<div class="item-picture" style="height: 150px">
								<img src="/images/apps/better_ears_3.jpg">
							</div>
							<div class="item-picture" style="height: 150px">
								<img src="/images/apps/better_ears_1.jpg">
							</div>
						</div>
					</div>

				</div>
				<div class="small-8 columns">
					<div class="ingress">
						<p>»Better Ears« (formerly known as Karajan® - Music and Ear Trainer), is an educational music and ear training app, which helps you grow your musical skills and enhance your hearing capabilities. There are ten different exercises included, starting from interval recognition all the way to chord progressions - perfect for beginners and music-masters alike!</p>
						
					</div>
					<h2>You decide how to train!</h2>
					<p>
					With Better Ears you can decide for yourself what your training routine should look like. There are no rules you have to follow, you decide when to start and how often to practice.</p>

					<h3>10 different exercises included</h3>
						
						<ul>
						<li>Interval recognition</li>
						<li>Scale recognition</li>
						<li>Chord recognition</li>
						<li>Chord progressions</li>
						<li>Pitch recognition</li>
						<li>Tempo recognition</li>
						<li>Key Signature recognition</li>
						<li>Interval music reading</li>
						<li>Scale music reading</li>
						<li>Chord music reading</li>
						</ul>
					

<h3>6 different instruments

Choose your training sound from six different instruments. Better Ears comes with Acoustic Grand piano, Bright Acoustic Piano, Electric Grand Piano, Drawbar Organ, Nylon Acoustic Guitar and Steel Acoustic Guitar.


<h3>Keyboard and Fretboard

»Better Ears« comes with a virtual keyboard and virtual guitar fretboard. You can key notes on either.


<h3>Four preset levels

»Better Ears« ships with four preset levels:
<ul>
<li>Beginner</li>
<li>Easy</li>
<li>Normal</li>
<li>Professional</li>
</ul>


<h3>Unlimited custom levels</h3>
<p>
Additionally you can can create your own levels, letting you train to your own specific needs. Put yourself in "Training Camp" to learn church modes, or concentrate on those two pesky intervals that constantly cause you problems.</p>


<h3>Sync all of your devices</h3>
<p>
With »Better Ears« you can keep your Mac and your iOS devices in sync. You can choose what to sync: Your own levels, your statistics, your settings or all of this.</p>


<h3>MIDI Support</h3>
<p>
»Better Ears« supports routing sound through an external MIDI device, allowing you to use your existing MIDI master keyboard or sound module. You can even control »Better Ears« using a connected keyboard.</p>


<h3>Statistics</h3>
<p>
For every exercise »Better Ears« knows all your current stats, including how often you have answered each question correctly or incorrectly.</p>


<h3>Wikipedia integration</h3>
<p>
»Better Ears« shows the relevant Wikipedia article for the current exercise. If a relevant article is not available online, another topically-appropriate article will be shown instead.</p>

							
				</div>
			</div>
		</tab>
		<tab heading="Reviews (5)"></tab>
		<tab heading="Discussion"></tab>
		<tab heading="Specifications"></tab>
		<tab heading="Pricing"></tab>
	</tabset>
	
</div>