<div id="homePage">
  <header class="small-12 columns header">
    <hgroup>
      <h1>Welcome to the Bazaar!</h1>
      <h2>Find the learning material of your dreams</h2>
    </hgroup>
    <input class="search" placeholder="What are you looking for?" ng-model="selected" typeahead="subject for subject in subjects | filter:$viewValue | limitTo:8">
  </header>

<div>

  <tabset>
    <tab heading="Home">
      <div class="row">
        <div class="medium-6 columns">
          <h2>Newest collections</h2>
          <ul>
            <li>
              <p>Globar warming</p>
              <a>Authored by Sanna K.</a>
            </li>
            <li>
              <p>Teaching media skills</p>
              <a>Authored by Outi A.</a>
            </li>
          </ul>
          <a ui-sref=".list" class="button primary">List</a>
        </div>
        <div class="medium-6 columns">
          <h2>A video</h2>
          <p>Something else comes here</p>
        </div>
        <div ui-view></div>
      </div>
    </tab>
    <tab heading="Subjects">
         
      <div class="row">
        <div class="medium-7 columns subjects">

          <div class="hex hex-3">   
            <div class="inner">
                <h4>Languages</h4>
            </div>    
            <a href="#"></a>
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>  

          <div class="hex" style="background-image: url(images/2.jpg);">  
            <h4>Maths</h4>  
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">
            <h4>Environmental Sciences</h4>    
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>

          <br>

          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Biology</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">
          <h4>Geology</h4>     
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">    
          <h4>Physics & Chemistry</h4> 
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">    
          <h4>Health Sciences</h4> 
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
              <br>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Religion</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">   
          <h4>Ethics</h4>  
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Music</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
              <br>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Arts</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Crafts</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Physical Ed</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);">  
          <h4>Domestic Sciences</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          
          <br>

          <div class="hex" style="background-image: url(images/2.jpg);">    
            <h4>Religion</h4>
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);"> 
            <h4>Philosophy</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
          <div class="hex" style="background-image: url(images/2.jpg);"> 
          <h4>Crafts</h4>   
            <a href="#"></a>    
            <div class="corner-1"></div>
            <div class="corner-2"></div>    
          </div>
         
        </div>

        <div class="medium-2 columns">Resource bank</div>
      </div>
    </tab>
    <tab heading="Themes">
      <div class="row">
        <div class="small-12 columns">
          <h2>Theme of the week:</h2>

        </div>
      </div>
    </tab>
    <tab heading="Creator's corner">
      <h2>Image bank</h2>
    </tab>
    <tab heading="Teacher's desk">
    </tab>
    <!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
      {{tab.content}}
    </tab>-->
  </tabset>

</div>



</div>