<div id="homePage">

	<header class="small-12 columns header">
		<hgroup>
			<h1>Welcome to the Bazaar!</h1>
			<h2>Find the learning material of your dreams</h2>
		</hgroup>
		<input class="search" placeholder="What are you looking for?" ng-model="selected" typeahead="subject for subject in subjects | filter:$viewValue | limitTo:8">
	</header>
	<tabset>
		<tab heading="Home">
			<div id="homeTab">
				<div class="medium-4 columns">
					<section class="bordered">
						<h2>Most liked in this month</h2>
						<ul class="item-list"> 
								<li>
									<div class="medium-3 columns">
										<img src="images/apps/10monkeys.jpg">
									</div>
									<div class="medium-9 columns">
										<h3>10 Monkeys Math World</h3>
										<span class="author"><a href="#">10 Monkeys</a></span>
										<p>Web-based individual math practicing program, practice with thousands of activities.</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
										<img src="images/apps/geogebra.png">
									</div>
									<div class="medium-9 columns">
										<h3>Geogebra</h3>
										<span class="author"><a href="#">Ovelin</a></span>
										<p>GuitarBots is an online game that makes guitar training more fun and motivating.</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
										<img src="images/apps/timeguru.jpg">
									</div>
									<div class="medium-9 columns">
										<h3>Time Guru App</h3>
										<span class="author"><a href="#">Geogebra</a></span>
										<p>Strengthen your inner sense of rhythm! Time Guru is the only metronome with the ability to mute its sound at random, in sequenced patterns, so that ... </p>
									</div>
								</li>
							</ul>
					</section>
					<section class="carousel bordered">
						<div class="image">
							<img src="/images/apps/better-ears.jpg">
							<a href="#" class="prev"><i class="icon-arrow-left"></i></a> 
							<a href="#" class="next"><i class="icon-arrow-right"></i></a> 
						</div>
						<div class="caption">
							<h1>Better Ears</h1>
							<div class="info">
								<span class="autor"><a href="#">Ovelin</a></span>
							</div>
							<p>Better Ears helps you grow your musical skills and enhance your hearing capabilities. There are already ten different exercises included, starting from interval recognition all the way to chord progressions - perfect for beginners and music-masters alike!</p>
						</div>
						
					</section>
					
					
				</div>
				<div class="medium-4 columns">
					<section class="carousel">
						<img src="/images/GB_PracticeMode.jpg">
						<div class="caption">
							<h1>Guitar Bots</h1>
							<div class="info">
								<span class="autor"><a href="#">Ovelin</a></span>
							</div>
							<p>GuitarBots makes learning to play the guitar easy, fun and motivating. The game is played with any REAL guitar (acoustic or electric)!</p>
						</div>
						<a href="#" class="prev"><i class="icon-arrow-left"></i></a> 
						<a href="#" class="next"><i class="icon-arrow-right"></i></a> 
					</section>
					<section class="bordered">
						<h2>This week at Cloudclub</h2>
						<ul class="item-list"> 
								<li>
									<div class="medium-3 columns">
										<img src="/images/apps/bus.png">
									</div>
									<div class="medium-9 columns">
										<h3>Mathworlds 2</h3>
										<span class="author"><a href="#">Mathemathicas</a></span>
										<p>Exercises and games for every skill level.</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
										<img src="/images/apps/finland.jpg">
									</div>
									<div class="medium-9 columns">
										<h3>The History of Finland</h3>
										<span class="author"><a href="#">HistoryAwe</a></span>
										<p>Live through the history of Finland!</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
										<img src="/images/apps/traffic.png">
									</div>
									<div class="medium-9 columns">
										<h3>Trafficmania</h3>
										<span class="author"><a href="#">Traffitis</a></span>
										<p>Learn how the traffic works by award winning traffic simulator game.</p>
									</div>
								</li>
							</ul>
					</section>
				</div>
				<div class="medium-4 columns">		
					<section class="bordered">
						<h2>New arrivals</h2>
							<ul class="item-list"> 
								<li>
									<div class="medium-3 columns">
										<img src="/images/apps/egypt.jpg">	
									</div>
									<div class="medium-9 columns">
										<h3>The world of ancient egypt</h3>
										<span class="author"><a href="#">Kai T.</a></span>
										<p>A video lecture of 2nd grade egyptian history.</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
									<img src="/images/apps/chemistry.png">
									</div>
									<div class="medium-9 columns">
										<h3>Learn Chemistry by testing</h3>
										<span class="author"><a href="#">Liisa K.</a></span>
										<p>A video that guides you through the first chemistry lab test of elementary school
chemistry; lab tests in a classroom.</p>
									</div>
								</li>
								<li>
									<div class="medium-3 columns">
										<img src="/images/apps/geogebra.png">
									</div>
									<div class="medium-9 columns">
										<h3>Geogebra</h3>
										<span class="author"><a href="#">Geogeb</a></span>
										<p>Free dynamic program for learning and teaching mathemathics and natural sciences.</p>
									</div>
								</li>
							</ul>
						</section>
					<section>
						<h2>Latest discussion</h2>
						<ul class="post-list comments">
							<li>
								<a href="#">
										How to go through the student composed music in the classroom?
								</a>
							</li>
						</ul>
						<a href="#" class="button small right">Go to the forum</a>
					</section>
				</div>							
			</div><!--/homeTab-->
		</tab>

		<tab heading="Subjects">
			<div class="medium-12 columns subjects">
					
						<div class="subject-group">
							<h2>Languages</h2>
							<a href="#" class="hex-item">
									<div class="hex" style="background-image: url(images/subjects/finnish.jpg);">   
										<div class="corner-1"></div>
										<div class="corner-2"></div>
									</div> 
									<h3>Finnish</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/english.jpg);">       
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>English</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/swedish.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Swedish</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/other.jpg);" >   
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Other languages</h3>
							</a>
						</div>


						<div class="subject-group">
							<h2>Active & Creative</h2>
							<a href="#/music" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/music.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Music </h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/art.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Arts</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/crafts.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Crafts</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/domestic.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Domestic Science</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/pe.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>P.E.</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/health.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Health science</h3>
							</a>


						</div>
					

						<div class="subject-group">
							<h2>Natural Sciences</h2>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/math.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Mathematics</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/physics.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Physics</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/chemistry.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Chemistry</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/biology.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Biology</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/geology.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Geology</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/environmental.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Environmental Sciences</h3>
							</a>
						</div>
						<div class="subject-group">
							<h2>Humanics</h2>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/history.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>History</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/religion.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Religion</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/ethics.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Ethics</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(images/subjects/society.jpg);">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Society knowledge</h3>
							</a>
						</div>
					
				</div>
		</tab>
		<tab heading="Themes">
			<div class="row">
				<div class="small-4 columns">
					<h2>Theme of the week:</h2>
					<div style="height: 300px; background: #ddd"></div>
					<h3>Learning the roads</h3>
					<p>How traffic works? What to keep in mind when cycling?</p>
				</div>
				<div class="small-4 columns">
					<ul class="item-list"> 
						<li class="row">
							<div class="medium-3 columns">
								<a href="#/music" class="hex-item">
									<div class="hex">   
										<div class="inner">
										</div>    
										<div class="corner-1"></div>
										<div class="corner-2"></div>
									</div>
								</a>
							</div>
							<div class="medium-9 columns">
								<h3>Alcohol</h3>
								<p>Alcohol is a chemical that has many effects to the human body. Learn the math involved and how it works in the body.</p>
							</div>
						</li>
						<li class="row">
							<div class="medium-3 columns">
								<a href="#/music" class="hex-item">
									<div class="hex">   
										<div class="inner">
										</div>    
										<div class="corner-1"></div>
										<div class="corner-2"></div>
									</div>
								</a>
							</div>
							<div class="medium-9 columns">
								<h3>Global warming</h3>
								<p>Global warming have effects to both economy and nature. Learn about it!</p>
							</div>
						</li>
						<li class="row">
							<div class="medium-3 columns">
								<a href="#/music" class="hex-item">
									<div class="hex">   
										<div class="inner">
										</div>    
										<div class="corner-1"></div>
										<div class="corner-2"></div>
									</div>
								</a>
							</div>
							<div class="medium-9 columns">
								<h3>Geogebra</h3>
								<span class="author">Geogebra</span>
								<p>Ilmainen dynaaminen ohjelmisto matematiikan ja luonnontieteiden oppimisen ja opettamisen avuksi</p>
							</div>
						</li>
						<li class="row">
							<div class="medium-3 columns">
								<a href="#/music" class="hex-item">
									<div class="hex">   
										<div class="inner">
										</div>    
										<div class="corner-1"></div>
										<div class="corner-2"></div>
									</div>
								</a>
							</div>
							<div class="medium-9 columns">
								<h3>Some item</h3>
								<span class="author">Publisher</span>
								<p>Asdasdasd</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</tab>
		<tab heading="Tools & Services">
		</tab>
		<tab heading="Creator's corner" id="authorTab">
			<h2>Image bank</h2>
		</tab>
		<tab heading="Discussions" id="personalTab">
		</tab>
		<!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
			{{tab.content}}
		</tab>-->
	</tabset>

	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel({
					autoPlay: 3000, //Set AutoPlay to 3 seconds
					items : 4,
					itemsDesktop : [1199,3],
					itemsDesktopSmall : [979,3]
			});
		});
	</script>
