<div ng-controller="SubjectCtrl" id="subjectPage">
  <header class="row">
    <div class="small-1 columns back">
      <a href="#/home"><i class="icon-arrow-left"></i></a>
    </div>
    <div class="small-8 columns">
      <div class="breadcrumb"><a href="#/subjects">Subjects</a><!--<i class="icon-arrow-right"></i>--></div>
      <h1>Mathematics</h1>
    </div>
    <div class="small-3 columns">
      <input type="text" placeholder="Search within mathematics..">
    </div>
  </header>
  <div class="row">
    <div class="medium-8 columns">
      <div style="height: 30em; margin-bottom: 1em; overflow: hidden">
        <img src="/images/10monkeys_image03_en_us.jpg">
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <div style="background: #eee; height: 30em; margin-bottom: 1em;">Popular materials</div>
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="row">
          <div class="medium-6 columns theme">
             <div style="background: url('/images/numbers.svg'); height: 8em; margin-bottom: 1em; color: #fff">
               Numbers and additions(laskutoimitukset)
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: url('/images/algebra.svg'); height: 8em; margin-bottom: 1em; color: #fff">
               Algebra
             </div>
          </div>
          <div class="medium-6 columns theme">
            <a href="#/geometry">
             <div style="background: #E08A4C; height: 8em; margin-bottom: 1em; color: #fff">
               Geometry
             </div></a>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #DDBE4F; height: 8em; margin-bottom: 1em; color: #fff">
               Measuring
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #B770E0; height: 8em; margin-bottom: 1em; color: #fff">
               Data handling and statistics
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #78B4A4; height: 8em; margin-bottom: 1em; color: #fff">
               Programming
             </div>
          </div>
          <div class="medium-6 columns theme">
             <div style="background: #4B4B4B; height: 8em; margin-bottom: 1em; color: #fff">
               Functions
             </div>
          </div>
          <div class="medium-12 columns">
            <h4>Latest posts in the magazine</h4>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>

        </div>
    </div>
  </div>

</div>