<div ng-controller="SubjectCtrl" id="subjectPage">
	<header>
		<img class="header-image" src="images/drums_130.jpg" >
		<div class="small-1 columns back">
			<a href="#/home"><i class="icon-arrow-left"></i></a>
		</div>
		<div class="small-8 columns">
			<div class="breadcrumb"><a href="#/subjects">Subjects</a></div>
			<h1>Music</h1>
		</div>
		<div class="small-3 columns">
			<input type="text" class="search" placeholder="Search within music..">
		</div>
	</header>
	<tabset>
		<tab heading="Home">
			<div class="row">
				<div class="medium-8 columns">
					<div class="carousel">
						<img src="/images/GB_PracticeMode.jpg">
						<div class="caption">
							<h1>Guitar Bots</h1>
							<div class="info">
								<span class="autor"><a href="#">Ovelin</a></span>
							</div>
							<p>GuitarBots makes learning to play the guitar easy, fun and motivating. The game is played with any REAL guitar (acoustic or electric)!</p>
						</div>
						<a href="#" class="prev"><i class="icon-arrow-left"></i></a> 
						<a href="#" class="next"><i class="icon-arrow-right"></i></a> 
					</div>
						<h2>New arrivals</h2>
						<ul class="item-list horizontal simple blocks"> 
							<li ng-repeat="item in items | limitTo: 3">
								<div class="medium-3 columns">
									<div class="item-image">
				        		<img src="{{item.image}}">
				        	</div>
				        </div>
				        <div class="medium-9 columns">
				        	<h3>{{item.name}}</h3>
				        	<div class="info">
										<span class="author teacher"><a href="#">{{item.author}}</a></span>
									</div>
									<p>{{item.description_short}}</p>
				        </div>
				        <footer>
										<span class="rating">
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star2"></i>
										</span>
										<span class="price">{{item.price}}</span>
								</footer>
				      </li>							
						</ul>
						<h2>Most liked in the month</h2>
						<ul class="item-list horizontal simple blocks"> 
							<li ng-repeat="item in items | limitTo: 3">
								<div class="medium-3 columns">
									<div class="item-image">
				        		<img src="{{item.image}}">
				        	</div>
				        </div>
				        <div class="medium-9 columns">
				        	<h3>{{item.name}}</h3>
				        	<div class="info">
										<span class="author teacher">{{item.author}}</span>
									</div>
									<p>{{item.description_short}}</p>
				        </div>
				        <footer>
										<span class="rating">
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star2"></i>
										</span>
										<span class="price">{{item.price}}</span>
								</footer>
				      </li>							
						</ul>
						<h2>Most commented</h2>
						<ul class="item-list horizontal simple blocks"> 
							<li ng-repeat="item in items | limitTo: 3">
								<div class="medium-3 columns">
									<div class="item-image">
				        		<img src="{{item.image}}">
				        	</div>
				        </div>
				        <div class="medium-9 columns">
				        	<h3>{{item.name}}</h3>
				        	<div class="info">
										<span class="author teacher">{{item.author}}</span>
									</div>
									<p>{{item.description_short}}</p>
				        </div>
				        <footer>
										<span class="rating">
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star"></i>
											<i class="icon-star2"></i>
										</span>
										<span class="price">{{item.price}}</span>
								</footer>
				      </li>							
						</ul>
					
				</div>
				<div class="medium-4 columns right-col">
					<section>
						<h3>Latest magazine posts related to Music</h3>
						<ul class="post-list">
							<li class="row">
								<a href="#">
									<img src="images/guitar-102708_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>Using Rockway courses in 4th grade music teaching</h4>
									</div>
								</a>
							</li>
							<li class="row">
								<a href="#">
									<img src="images/concert-316464_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>iPad band in the Spring event - the story of our practise</h4>
									</div>
								</a>
							</li>
							<li class="row">
								<a href="#">
									<img src="images/piano-277277_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>From zero to Paranoid - How did 6th graders learned to play a song by themselves</h4>
									</div>
								</a>
							</li>
						</ul>
						<a href="#" class="button small right">Go to the magazine</a>
					</section>

					<section>
						<h3>Recent discussions under Music</h3>
						<ul class="post-list comments">
							<li>
								<a href="#">
										How to go through the student composed music in the classroom?</a>
								</a>
							</li>
							<li>
								<a href="#">
										Expert guitar players in the class. How have you dealt with different skill levels?
								</a>
							</li>
							<li>
								<a href="#">
										Apps that help with bands in the class
								</a>
							</li>
							<li>
								<a href="#">
										Haven't found any suitable app for teaching different percussion. Any thoughts? 
								</a>
							</li>
						</ul>
						<a href="#" class="button small">Add a new discussion</a><a href="#" class="button small right">Go to the discussions</a>
					</section>
					<section>
						<h3>Latest reviews</h3>
						<ul class="post-list">
							<li>
								<span class="item-title">App name</span>
								<a href="#">Excellent too but lacks group features</a>
								<span class="stars">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</span>
							</li>
							<li>
								<span class="item-title">App name</span>
								<a href="#">If you want to teach your classroom guitar, use this!</a>
								<span class="stars">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
								</span>							
								</li>
							<li>
								<span class="item-title">App name</span>
								<a href="#">Not worth the money.</a>
								<span class="stars">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star2"></i>
									<i class="icon-star2"></i>
									<i class="icon-star2"></i>
								</span>
							</li>
						</ul>
					</section>

				</div>
			</div>
		</tab>
		<tab heading="Topics">
			<div id="topicsTab">
				
						<div class="small-12 columns">
							<a href="#/music" class="hex-item">
								<div class="hex" style="background-image: url(/images/subjects/topics/practice.jpg)">    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Practice</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(/images/subjects/topics/listening.jpg)">    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Listening</h3>
							</a>
							<a href="#/music-theory" class="hex-item">
								<div class="hex" style="background-image: url(/images/subjects/topics/theory.jpg)">    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Music theory</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex" style="background-image: url(/images/subjects/topics/history.jpg)">    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Music History</h3>
							</a>
						</div>
			</div>
		</tab>
		<tab heading="Instruments">
			<a href="#/music" class="hex-item">
				<div class="hex" style="background-image: url(/images/subjects/topics/practice.jpg)">    
					<div class="corner-1"></div>
					<div class="corner-2"></div>    
				</div> 
				<h3>Guitar</h3>
			</a>
		</tab>
		<tab heading="Filter">
			<div class="small-3 columns" id="filters">
				<input type="text" placeholder="Search within Music theory..">
				<section>
					<h4>Suitable for grade</h4>
					<div class="button-bar">
				     <ul class="button-group round">
						  <li><a href="#" class="button">1</a></li>
						  <li><a href="#" class="button">2</a></li>
						  <li><a href="#" class="button">3</a></li>
						  <li><a href="#" class="button">4</a></li>
						  <li><a href="#" class="button">5</a></li>
						  <li><a href="#" class="button">6</a></li>
						</ul>
					</div>
				</section>
				<section>
					<h4>Type</h4>
					<select ng-model="query.type">
						<option value="all">All</option>
						<option value="game">Games</option>
						<option value="application">Apps</option>
						<option value="audio">Audio</option>
						<option value="picture">Pictures</option>
						<option value="score">Scores</option>
						<option value="animation">Animations</option>
						<option value="video">Videos</option>
						<option value="course">Courses</option>
						<option value="lesson">Lessons</option>
						<option value="website">Websites</option>
					</select>
				</section>
				<section>
					<h4>Price</h4>
					<div class="range-slider" data-slider>
					  <span class="range-slider-handle"></span>
					  <span class="range-slider-active-segment"></span>
					  <input type="hidden">
					</div>
					<input type="checkbox" ng-model="query.price">Free
				</section>
				<section>
					<h4>Licence</h4>
					<ul>
						<li>Can use, modify and share freely</li>
						<li>Can modify</li>
						<li>Can modify</li>
					</ul>
			</div>
			<div class="small-9 columns" id="searchResults">
				<ul class="item-list detailed blocks">
					<li ng-repeat="item in items | filter:query:price">
						<div class="medium-3 columns">
							<div class="item-image">
		        		<img src="{{item.image}}">
		        	</div>
		        </div>
		        <div class="medium-9 columns">
		        	<h3>{{item.name}}</h3>
		        	<div class="info">
								<span class="author teacher">{{item.author}}</span>
							</div>
							<p>{{item.description_short}}</p>
		        </div>
		        <footer>
								<span class="rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star2"></i>
								</span>
								<span class="price">{{item.price}}</span>
						</footer>
		      </li>
				</ul>
			</div>
		</tab>
		<tab heading="Discussions" class="right">
		</tab>

</div>