<div ng-controller="SubjectCtrl" id="subjectPage">
	<header>
		<img class="header-image" src="images/drums_130.jpg" >
		<div class="small-1 columns back">
			<a href="#/home"><i class="icon-arrow-left"></i></a>
		</div>
		<div class="small-8 columns">
			<div class="breadcrumb"><a href="#/subjects">Subjects</a><!--<i class="icon-arrow-right"></i>--></div>
			<h1>Music</h1>
		</div>
		<div class="small-3 columns">
			<input type="text" class="search" placeholder="Search within music..">
		</div>
	</header>
	  
	<div id="filters" ng-show="collapse">
		<div class="row">
			<div class="medium-4 columns">
				<h4>Grade</h4>
				<div class="button-bar">
			     <ul class="button-group round">
					  <li><a href="#" class="button">1</a></li>
					  <li><a href="#" class="button">2</a></li>
					  <li><a href="#" class="button">3</a></li>
					  <li><a href="#" class="button">4</a></li>
					  <li><a href="#" class="button">5</a></li>
					  <li><a href="#" class="button">6</a></li>
					</ul>
				</div>
			</div>
			<div class="medium-4 columns">
				<h4>Type</h4>
				<select>
					<option>Games</option>
					<option>Tools</option>
					<option>Audio</option>
					<option>Pictures</option>
					<option>Scores</option>
					<option>Animations</option>
					<option>Videos</option>
					<option>Courses</option>
				</select>
			</div>
			<div class="medium-4 columns">
				<h4>Price</h4>
				<div class="range-slider" data-slider>
				  <span class="range-slider-handle"></span>
				  <span class="range-slider-active-segment"></span>
				  <input type="hidden">
				</div>
				<input type="checkbox">Free

			</div>
		</div>
  </div>
	<tabset>
		<tab heading="Home">
			<div class="row">
				<div class="medium-8 columns">
					<div class="carousel">
						<img src="/images/GB_PracticeMode.jpg">
						<div class="caption">
							<h1>Guitar Bots</h1>
							<div class="info">
								<span class="autor"><a href="#">Ovelin</a></span>
							</div>
							<p>This is a cool text related the product</p>
						</div>
						<a href="#" class="prev"><i class="icon-arrow-left"></i></a> 
						<a href="#" class="next"><i class="icon-arrow-right"></i></a> 
					</div>
					<div class="row">
						<ul class="item-list horizontal simple"> 
							<h2>New arrivals</h2>							
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns" popover="I appeared on mouse enter!" popover-trigger="mouseenter" >
									<h3>The basics of Ukulele</h3>
									<div class="info">
										<span class="author">Rockway</span>
										<span class="price">Free</span>
									</div>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>GuitarBots</h3>
									<div class="info">
										<span class="author">Ovelin</span>
										<span class="price">6,96€</span>
									</div>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>Geogebra</h3>
									<div class="info">
										<span class="author">Geogebra</span>
										<span class="price">6,96€</span>
									</div>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>Some item</h3>
									<span class="author">Publisher</span>
								</div>

							</li>
						</ul>
					</div>
					<div class="row">
						<ul class="item-list horizontal simple"> 
							<h2>Most downloaded</h2>							
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>The basics of Ukulele</h3>
									<span class="author">Rockway</span>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>GuitarBots</h3>
									<span class="author">Ovelin</span>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>forScore</h3>
									<span class="author">forScore</span>
								</div>
							</li>
							<li class="row">
								<div class="medium-12 columns">
									<a href="#/music" class="hex-item">
										<div class="hex">   
											<div class="inner">
											</div>    
											<div class="corner-1"></div>
											<div class="corner-2"></div>
										</div>
									</a>
								</div>
								<div class="medium-12 columns">
									<h3>Some item</h3>
									<span class="author">Publisher</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="medium-4 columns right-col">
					<section>
						<h3>Latest magazine posts related to Music</h3>
						<ul class="post-list">
							<li class="row">
								<a href="#">
									<img src="images/guitar-102708_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>Using Rockway courses in 4th grade music teaching</h4>
									</div>
								</a>
							</li>
							<li class="row">
								<a href="#">
									<img src="images/concert-316464_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>iPad band in the Spring event - the story of our practise</h4>
									</div>
								</a>
							</li>
							<li class="row">
								<a href="#">
									<img src="images/piano-277277_640.jpg" class="small-3 columns">
									<div class="small-9 columns">
										<h4>From zero to Paranoid - How did 6th graders learned to play a song by themselves</h4>
									</div>
								</a>
							</li>
						</ul>
						<a href="#" class="button small right">Go to the magazine</a>
					</section>

					<section>
						<h3>Recent discussions under Music</h3>
						<ul class="post-list comments">
							<li>
								<a href="#">
										How to go through the student composed music in the classroom?</a>
								</a>
							</li>
							<li>
								<a href="#">
										Expert guitar players in the class. How have you dealt with different skill levels?
								</a>
							</li>
							<li>
								<a href="#">
										Apps that help with bands in the class
								</a>
							</li>
							<li>
								<a href="#">
										Haven't found any suitable app for teaching different percussion. Any thoughts? 
								</a>
							</li>
						</ul>
						<a href="#" class="button small">Add a new discussion</a><a href="#" class="button small right">Go to the forum</a>
					</section>
					<section>
						<h3>Latest reviews</h3>
						<ul class="post-list">
							<li>
								<span class="item-title">App name</span>
								<a href="#">Excellent too but lacks group features</a>
								<span class="stars"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
							</li>
							<li>
								<span class="item-title">App name</span>
								<a href="#">If you want to teach your classroom guitar, use this!</a>
								<span class="stars"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
							</li>
							<li>
								<span class="item-title">App name</span>
								<a href="#">Not worth the money.</a>
								<span class="stars"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
							</li>
						</ul>
					</section>

				</div>
			</div>
		</tab>
		<tab heading="Topics">
			<div id="topicsTab">
				
						<div class="small-12 columns">
							<a href="#/music" class="hex-item">
								<div class="hex hex-3">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Practise</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex hex-3">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Listening</h3>
							</a>
							<a href="#/music-theory" class="hex-item">
								<div class="hex hex-3">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Music theory</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex hex-3">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Music History</h3>
							</a>
							<a href="#" class="hex-item">
								<div class="hex hex-3">   
									<div class="inner">
									</div>    
									<div class="corner-1"></div>
									<div class="corner-2"></div>    
								</div> 
								<h3>Composing & Creating</h3>
							</a>
						</div>
			</div>
		</tab>
		<tab heading="Tags">
		</tab>
		<tab heading="Filters">
		</tab>
		<tab heading="Forum">
		</tab>

</div>