<div ng-controller="SubjectCtrl" id="topicPage">
	<header>
		<img class="header-image light" src="images/notes_130.jpg"  height="130">
		<div class="small-1 columns back">
			<a href="#/maths"><i class="icon-arrow-left"></i></a>
		</div>
		<div class="small-11 columns">
			<div class="breadcrumb"><a href="#/subjects">Subjects</a><i class="icon-arrow-right"></i><a href="#/music">Music</a></div>
			<h1>Music theory</h1>
		</div>

	</header>


	<div>
		<div class="small-3 columns" id="filters">
			<input type="text" placeholder="Search within Music theory..">
			<section>
				<h4>Suitable for grade</h4>
				<div class="button-bar">
			     <ul class="button-group round">
					  <li><a href="#" class="button">1</a></li>
					  <li><a href="#" class="button">2</a></li>
					  <li><a href="#" class="button">3</a></li>
					  <li><a href="#" class="button">4</a></li>
					  <li><a href="#" class="button">5</a></li>
					  <li><a href="#" class="button">6</a></li>
					</ul>
				</div>
			</section>
			<section>
				<h4>Type</h4>
				<select ng-model="query.type">
					<option value="all">All</option>
					<option value="game">Games</option>
					<option value="application">Apps</option>
					<option value="audio">Audio</option>
					<option value="picture">Pictures</option>
					<option value="score">Scores</option>
					<option value="animation">Animations</option>
					<option value="video">Videos</option>
					<option value="course">Courses</option>
					<option value="lesson">Lessons</option>
					<option value="website">Websites</option>
				</select>
			</section>
			<section>
				<h4>Price</h4>
				<div class="range-slider" data-slider>
				  <span class="range-slider-handle"></span>
				  <span class="range-slider-active-segment"></span>
				  <input type="hidden">
				</div>
				<input type="checkbox" ng-model="query.price">Free
			</section>
			<section>
				<h4>Licence</h4>
				<ul>
					<li>Can use, modify and share freely</li>
					<li>Can modify</li>
					<li>Can modify</li>
				</ul>
		</div>
		<div class="small-9 columns" id="searchResults">
			<ul class="item-list detailed blocks">
				<li ng-repeat="item in items | filter:query:price">
					<div class="medium-3 columns">
						<div class="item-image">
	        		<img src="{{item.image}}">
	        	</div>
	        </div>
	        <div class="medium-9 columns">
	        	<h3>{{item.name}}</h3>
	        	<div class="info">
							<span class="author teacher">{{item.author}}</span>
						</div>
						<p>{{item.description_short}}</p>
	        </div>
	        <footer>
							<span class="rating">
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star"></i>
								<i class="icon-star2"></i>
							</span>
							<span class="price">{{item.price}}</span>
					</footer>
	      </li>
			</ul>
		</div>
	</div>

</div>