<div ng-controller="SubjectCtrl" id="topicPage">
	<header>
		<img class="header-image light" src="images/subjects/music-theory.jpg">
		<div class="small-1 columns back">
			<a href="#/maths"><i class="icon-arrow-left"></i></a>
		</div>
		<div class="small-11 columns">
			<div class="breadcrumb"><a href="#/home">Subjects</a><i class="icon-arrow-right"></i><a href="#/music">Music</a></div>
			<h1>Music theory</h1>
		</div>

	</header>


	<div>
		<div class="small-3 columns" id="filters">
			<input type="text" placeholder="Search within Music theory..">
			<section>
				<h4>Suitable for grade</h4>
				<div class="button-bar">
			     <ul class="button-group round">
					  <li><a href="#" class="button">1</a></li>
					  <li><a href="#" class="button">2</a></li>
					  <li><a href="#" class="button">3</a></li>
					  <li><a href="#" class="button">4</a></li>
					  <li><a href="#" class="button">5</a></li>
					  <li><a href="#" class="button">6</a></li>
					</ul>
				</div>
			</section>
			<section>
				<h4>Type</h4>
				<select>
					<option value="all" selected>All</option>
					<option value="game">Games</option>
					<option value="application">Apps</option>
					<option value="audio">Audio</option>
					<option value="picture">Pictures</option>
					<option value="score">Scores</option>
					<option value="animation">Animations</option>
					<option value="video">Videos</option>
					<option value="course">Courses</option>
					<option value="lesson">Lessons</option>
					<option value="website">Websites</option>
				</select>
			</section>
			<section>
				<h4>Price</h4>
				<div class="price-label" style="overflow: hidden;">
					<label style="float: left">0</label>
					<label style="float: right">65€</label>
				</div>
				<div class="range-slider" data-slider style="margin-top: 0">
				  <span class="range-slider-handle"></span>
				  <span class="range-slider-handle" style="right: 0;"></span>
				  <span class="range-slider-active-segment"></span>
				  <input type="hidden">
				</div>
				<input type="checkbox"><label>Free</label>
			</section>
			<section>
				<h4>Device&Platform</h4>
				<p>Suitable for</p>
				<ul class="ui-list">
		   			<li><input type="checkbox" name="purpose" checked><label>PCs</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Tablets</label></li>
			      	<li><input type="checkbox" name="purpose"><label>iPad tablets</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Android tablets</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Other tablets</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Phones</label></li>
			      	<li><input type="checkbox" name="purpose"><label>iPhones</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Android phones</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Windows Phones</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Other phones</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Does not need plugins</label></li>
	      		</ul>
	      		<p>Compatible with following LMS: <i class="icon-arrow-down"></i></p>

			</section>
			<section>
				<h4>Purpose</h4>
				<p>Filter according what the licence permits</p>
				<ul class="ui-list">
		   			<li><input type="checkbox" name="purpose" checked><label>To use</label></li>
			      	<li><input type="checkbox" name="purpose"><label>To modify</label></li>
			      	<li><input type="checkbox" name="purpose"><label>To share</label></li>
			      	<li><input type="checkbox" name="purpose"><label>To resell</label></li>
			      	<li><input type="checkbox" name="purpose"><label>Everything possible</label></li>
	      		</ul>
	      	</section>
		</div>
		<div class="small-9 columns" id="searchResults">
			<ul class="item-list detailed blocks">
				<li ng-repeat="item in items | filter:query:price">
					<div class="medium-3 columns">
						<div class="item-image">
			        		<img src="{{item.image}}">
			        	</div>
			        </div>
			        <div class="medium-9 columns">
			        	<h3><a href="#/item">{{item.name}}</a></h3>
			        	<div class="info">
									<span class="author teacher"><a href="#">{{item.author}}</a></span>
								</div>
								<p>{{item.description_short}}</p>
			        </div>
			        <footer>
						<span class="rating">
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star2"></i>
						</span>
						<span class="price">{{item.price}}</span>
					</footer>
	     		</li>
			</ul>
		</div>
	</div>

</div>