@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m45jnr');
	src:url('fonts/icomoon.eot?#iefix-m45jnr') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m45jnr') format('woff'),
		url('fonts/icomoon.ttf?-m45jnr') format('truetype'),
		url('fonts/icomoon.svg?-m45jnr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
	content: "\e639";
}
.icon-messages:before {
	content: "\e63a";
}
.icon-msg-line:before {
	content: "\e638";
}
.icon-heart:before {
	content: "\e633";
}
.icon-heart2:before {
	content: "\e634";
}
.icon-plus:before {
	content: "\e630";
}
.icon-minus:before {
	content: "\e631";
}
.icon-notice:before {
	content: "\e632";
}
.icon-tag2:before {
	content: "\e62f";
}
.icon-music:before {
	content: "\e635";
}
.icon-dice:before {
	content: "\e636";
}
.icon-books:before {
	content: "\e637";
}
.icon-house:before {
	content: "\e60c";
}
.icon-download:before {
	content: "\e615";
}
.icon-star:before {
	content: "\e608";
}
.icon-star2:before {
	content: "\e609";
}
.icon-thumbsup:before {
	content: "\e60a";
}
.icon-cog:before {
	content: "\e60e";
}
.icon-mail:before {
	content: "\e601";
}
.icon-user-add:before {
	content: "\e607";
}
.icon-users:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e605";
}
.icon-reply:before {
	content: "\e603";
}
.icon-forward:before {
	content: "\e604";
}
.icon-paperclip:before {
	content: "\e602";
}
.icon-printer:before {
	content: "\e60d";
}
.icon-thumbsdown:before {
	content: "\e60b";
}
.icon-music2:before {
	content: "\e610";
}
.icon-tag:before {
	content: "\e60f";
}
.icon-screen:before {
	content: "\e611";
}
.icon-lock-open:before {
	content: "\e613";
}
.icon-lock:before {
	content: "\e612";
}
.icon-cycle:before {
	content: "\e614";
}
.icon-upload:before {
	content: "\e617";
}
.icon-cloud:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e61a";
}
.icon-arrow-down:before {
	content: "\e61b";
}
.icon-arrow-up:before {
	content: "\e61c";
}
.icon-arrow-right:before {
	content: "\e61d";
}
.icon-arrow-left2:before {
	content: "\e61e";
}
.icon-arrow-down2:before {
	content: "\e61f";
}
.icon-arrow-up2:before {
	content: "\e620";
}
.icon-arrow-right2:before {
	content: "\e621";
}
.icon-cc:before {
	content: "\e622";
}
.icon-cc-by:before {
	content: "\e623";
}
.icon-cc-nc:before {
	content: "\e624";
}
.icon-cc-nc-eu:before {
	content: "\e625";
}
.icon-cc-nc-jp:before {
	content: "\e626";
}
.icon-cc-sa:before {
	content: "\e627";
}
.icon-cc-nd:before {
	content: "\e628";
}
.icon-cc-pd:before {
	content: "\e629";
}
.icon-cc-zero:before {
	content: "\e62a";
}
.icon-twitter:before {
	content: "\e62b";
}
.icon-facebook:before {
	content: "\e62c";
}
.icon-play:before {
	content: "\e618";
}
.icon-pause:before {
	content: "\e619";
}
.icon-book:before {
	content: "\e62d";
}
.icon-support:before {
	content: "\e62e";
}
.icon-help:before {
	content: "\e600";
}
